.sidebar-container{
    width: fit-content;
    padding: 1rem 4rem 1rem 5rem;
    position: fixed;
    height: 60rem;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 3rem;
}
.hide-resetfilter{
  display: none;
}

.filters{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.reset-filter{
  padding: 0.1rem 1rem;
  font-family: serif;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.price-case p{
    margin-left: 6rem;
}
.view-gift-case,
.rating-case,
.category-case,
.price-sorting-case{
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    font-size: 1.5rem;
}
.price-sorting-case{
    margin-bottom: 2rem;
}


/* button */
.shining-button {
    display: inline-block;
    border: none;
    border-radius: 5px;
    color: red;
    font-weight: bolder;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    animation: shine 2s infinite;

  }
  
  @keyframes shine {
    0% {
      background: linear-gradient(
        25deg,
        rgba(255, 255, 255, 0.5),
        transparent,
        transparent,
        rgba(255, 255, 255, 0.5)
      );
      transform: translateX(-5%);
    }
    100% {
      background: linear-gradient(
        25deg,
        rgba(255, 255, 255, 0.5),
        transparent,
        transparent,
        rgba(255, 255, 255, 0.5)
      );
      transform: translateX(7%);
    }
  }
  .shining-button:hover {
    color: #3498db;
    background-color: white;
  }
  
 
  @media (width < 768px) {
    .hide-sidebar{
      display: none;
    }
    .hide-resetfilter{
      display: block;
    }
  }
